body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
div {
    font-weight: 200;
    font-style: normal;
    text-align: center;
    padding: 0% 5%;
}
h2,h3 {
    text-align: center;
}
p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 3px;
}
img{
    width: 50%;
    height: 50%;
}

.error {
  border: 2px solid red;
  margin: 5px;
}

.error_check {
  text-decoration: underline 2px solid red;
  margin: 5px;
}

.ok {
  border: 2px solid green;
}

#messages {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
}
